<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Stock Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/member.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="logo">
            <img src="{{ url_for('static', filename='images/logo_dark.png') }}" alt="Logo">
        </a>
        <h1>US Stock Navigator</h1>
        <nav>
            <a href="#" class="menu-open hide-desktop">
                <button alt="open menu">&#9776;</button>
            </a>
            <ul>
                <li><a href="#" class="menu-close hide-desktop">
                        <button alt="close menu">&times;</button>
                    </a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('insights') }}">Insights</a></li>
                <li><a href="{{ url_for('hot_topic') }}">Hot-Topics</a></li>
                <li><a href="{{ url_for('member_page') }}">SignUp/LogIn</a></li>
            </ul>
        </nav>
        <script src="{{ url_for('static', filename='js/nav_bar.js') }}"></script>
    </header>

    <main>
        <section class="content">
            <div class="container">
                <h1>Welcome</h1>
                <div class="form-container">
                    <form id="login-form">
                        <h2>Log In</h2>
                        <input type="email" placeholder="Email" required>
                        <input type="password" placeholder="Password" required>
                        <button type="submit">Log In</button>
                        <a href="{{ url_for('register_page') }}" id="show-signup">Sign Up</a> 
                    </form>

                </div>
            </div>

            <p class="terms">By signing up, you agree to our
                <a href="#">Terms of Service</a> and
                <a href="#">Privacy Policy</a>.
            </p>
        </section>
    </main>
    <footer>
        <p>Copyright © 2025 US Stock Navigator All Rights Reserved.</p>
    </footer>
</body>
</html>
